<div class="container">
  <span>Pool Tables</span>
  <nav>
    <ul>
      <li>
        <span>Table 1</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 2</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 3</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
    </ul>
  </nav>
  <button class="btn-add" type="button">Add</button>
</div>
<hr />
<div class="container">
  <span>Pool Tables</span>
  <nav>
    <ul>
      <li>
        <span>Table 1</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 2</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 3</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
    </ul>
  </nav>
  <button class="btn-add" type="button">Add</button>
</div>
<hr />
<div class="container">
  <span>Pool Tables</span>
  <nav>
    <ul>
      <li>
        <span>Table 1</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 2</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
      <li>
        <span>Table 3</span
        ><button class="btn-edit" type="button">edit</button>||<button
          class="btn-del"
          type="button"
        >
          del
        </button>
      </li>
    </ul>
  </nav>
  <button class="btn-add" type="button">Add</button>
</div>
