<div class="container">
  <div class="container__item">
    <form class="form" (submit)="submit()" [formGroup]="val">
      <div
        *ngIf="
          val.controls.code.invalid &&
          (val.controls.code.dirty || val.controls.code.touched)
        "
      >
        <span *ngIf="val.controls.code.errors?.['required']">
          Code is required.
        </span>
        <span *ngIf="val.controls.code.errors?.['minlength']">
          Code must be at least 6 characters long.
        </span>
        <span *ngIf="val.controls.code.errors?.['patter']">
          Code must be at max 6 characters long.
        </span>
        <span class="details log" *ngIf="val.controls.code.errors?.['pattern']"
          >The code must be number</span
        >
      </div>
      <input
        type="text"
        class="form__field"
        formControlName="code"
        placeholder="Your E-Mail Address"
      />
      <button type="submit" class="btn btn--primary btn--inside uppercase">
        Send
      </button>
    </form>
  </div>

  <div class="container__item container__item--bottom">
    <p>
      Inspired by
      <a href="//dribbble.com/shots/2989456-Email-input-field" target="_blank"
        >Daniel Luca</a
      >.
    </p>
  </div>
</div>
