<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/image/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/dashboard"
  >
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item> <mat-icon>tablet</mat-icon> Billiard Tables </a>
  <a mat-list-item> <mat-icon>attach_money</mat-icon> Discount </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/administer"
  >
    <mat-icon>fastfood</mat-icon> Services {{ item }}
  </a>
  <a mat-list-item> <mat-icon>settings</mat-icon> Settings </a>
</mat-nav-list>
